extends layout

block content
  #preloader
    #status
      p Loading Content... 
  header.clearfix
    section(class=['header', 'clearfix'], data-header)
      .container
        .row
          .col-xs-5.col-sm-4
            a(class="logo", href="#home")
              img(alt="logo", src="images/logo.png", class="hidden")
          .col-md-8
            ul.branch-menu.nav.navbar-nav.navbar-right.pull-right
              li.dropdown
                a(href="#", class="dropdown-toggle", data-toggle="dropdown")
                  i(class=['fa', 'fa-bars'])
                ul.dropdown-menu
                  li
                    a(href="#") Site Link One
                  li
                    a(href="#") Another Site
                  li
                    a(href="#") Something Else
                  li.divider
                  li
                    a(href="#") Seperated Link
            .menu-btn.menu-main(data-target=".nav-collapse", data-toggle="collapse")
              span(class=['fa', 'fa-th'])
            ul(class=['navigation', 'nav-collapse'], data-navigation)
              li
                a(href="#home") Home
              li
                a(href="#challenge") Challenge
              li
                a(href="#solution") Solution
              li
                a(href="#portfolio") Portfolio
              li
                a(href="#get-started") Get Started
    .clearfix
    // START HOME SECTION -
    section#home
      .container.align-center
        article.row
          h1.col-md-12 Sharepoint, A hero&rsquo;s tale
          h3 Are you ready to go from scapegoat to hero?
        figure
    // START CHALLENGE SECTION -
    section(id="challenge", data-layout, class=['clearfix', 'content'])
      .container
        .white-bg.clearfix.flat-tabs
          ul.nav.margin.align-right.nav-tabs
            li.active
              a(href="#statistics", data-target="#problem_1, #problem_2" data-toggle="tab") Problem
            li
              a(href="#scapegoat", data-target="#implication_1, #implication_2" data-toggle="tab") Implication
            li
              a(href="#challenges", data-target="#trends_1, #trends_2" data-toggle="tab") Trends
        .tab-content
          #problem_1.tab-pane.fade.in.active
            figure.chart-container
              img(src="images/chart.png", alt="Problem")
          #implication_1.tab-pane.fade
            img(src="images/about/2.jpg", alt="Implication Image")
          .tab-pane.fade(id="trends_1")
            img(src="images/about/3.jpg", alt="Trends Image")
        .tab-content.white-bg
          #problem_2.tab-pane.active.fade.in.active
            .white-bg.clearfix
              .row.clearfix.lower-container
                .col-md-4
                  .padding
                    p CHALLENGE
                    h2.about-title Problem
                .col-md-8.challenge-copy
                  h4
                    | There’s no doubt about it - you’re not alone;
                    br
                    | implementing SharePoint can be challenging.
                  p
                    | A 2013 Industry Watch Report from AIIM found that 61% of SharePoint ECM projects had stalled or did not meet expectations.
                  p.heavy And, as an IT leader, you’ve heard the complaints...
                  .spacing40.clearfix
          #implication_2.tab-pane.fade
            .white-bg.clearfix
              .row.clearfix.lower-container
                .col-md-4
                  .padding
                    p CHALLENGE
                    h2.about-title Implication
                .col-md-8.challenge-copy
                  h4 Even after you get SharePoint live, users still aren’t happy.
                  p
                    | “SharePoint isn’t easy to use.”
                    br
                    | “I can’t find what I’m looking for.”
                    br
                    | “It dosen’t make me more productive. It actually makes my job harder.”
                    br
                    | “I’d rather walk on hot coals... (well maybe not yet)”
                  p And then your team weighs in, “This is a mess. I can’t support it.”
                  p.heavy And there is the future to consider...
                  .spacing40.clearfix
          #trends_2.tab-pane.fade
            .white-bg.clearfix
              .row.clearfix.lower-container
                .col-md-4
                  .padding
                    p CHALLENGE
                    h2.about-title trends
                .col-md-8.challenge-copy
                  h4 Future trends compound the challenges.
                  p
                    | Millennials will soon make up 75% of the workforce.
                    br
                    | Tablets are outselling PC’s and smart phones are ubiquitous.
                    br
                    | Social technology has changed the way people interact.
                  p.heavy
                    | Becoming the hero seems as though it will only get harder.
                    br
                    | So, where can you go from here?
                  .spacing40.clearfix
        .spacing40.clearfix
      .spacing40.clearfix
      .container
        .spacing40.clearfix
        .team-container(data-modal='blogs')
          each ec, i in ecData
            if (i < 3)
              .col-md-4.modal-target(data-toggle='modal', data-target='.generic-blog', data-title='#{ec.title}')
                img.article-link(src='#{ec.imageLocation}', alt='team')
                .clearfix.team-inner.white-bg.padding.article-link
                  h3.team-name #{ec.displayTitle}
                  p.team-position By #{ec.creator} - 
                    span.date #{ec.pubDate}
        .row
          .col-md-12
          .spacing40.clearfix
          button.btn.btn-lg.pull-right(data-toggle='modal', data-target='#blog_subscription')
            | Subscribe to our Blog
            i.fa.fa-angle-right
    // START SOLUTION SECTION -
    section#solution.clearfix.content(data-layout)
      .container
        .white-bg.clearfix.flat-tabs
          ul.nav.margin.align-right.nav-tabs
            li.active
              a(href='#be-a-hero', data-target='#answer_1, #answer_2', data-toggle='tab') Answer
            li
              a(href='#benefits', data-target='#benefits_1, #benefits_2', data-toggle='tab') Benefits
            li
              a(href='#how', data-target='#how_1, #how_2', data-toggle='tab') How
            li
              a(href='#what', data-target='#what_1, #what_2', data-toggle='tab') What
        .tab-content
          #answer_1.tab-pane.fade.in.active
            figure.chart-container
              p.image-replacment
                | ”... it became apparent that we needed to construct a strategy before we started talking about long-term funding much less executing anything.“
          #benefits_1.tab-pane.fade
            figure.chart-container
              img(src='images/services/chart1.png', alt='Benefits')
          #how_1.tab-pane.fade
            figure.chart-container
              img(src='images/services/chart2.png', alt='How Image')
          #what_1.tab-pane.fade
            figure.chart-container
              img(src='images/services/chart3.png', alt='What Image')
        .tab-content.white-bg
          #answer_2.tab-pane.active.fade.in.active
            .white-bg.clearfix
              .row.clearfix.lower-container
                .col-md-4
                  .padding
                    p SOLUTION
                    h2.about-title answer
                .col-md-8.challenge-copy
                  h4 Can you go from SharePoint scapegoat to hero and save the day? Yes you can.
                  p The answer starts with an Enterprise Collaboration Roadmap.
                  p
                    | Galvanize your organization around a common set of priorities and set a course for high adoption. It’s amazing what buy-in and alignment can do
                  p.heavy
                    a(href='http://blog.tahoepartners.com/index.php/enterprise-collaboration-strategy-ready-fire-aim/', target='_blank') READ HOW ONE CLIENT DID IT
                  .spacing40.clearfix
          #benefits_2.tab-pane.fade
            .white-bg.clearfix
              .row.clearfix.lower-container
                .col-md-4
                  .padding
                    p SOLUTION
                    h2.about-title benefits
                .col-md-8.challenge-copy
                  h4 Being a hero is always better than being the scapegoat.
                  p
                    | When you plan ahead and start SharePoint projects from an enterprise collaboration roadmap, adoption increases through applied consistency, appropriate information access, and an architecture with speedy response times.
                  p.heavy And it deesn’t take much to get started...
                  .spacing40.clearfix
          #how_2.tab-pane.fade
            .white-bg.clearfix
              .row.clearfix.lower-container
                .col-md-4
                  .padding
                    p ROADMAP
                    h2.about-title how it works
                .col-md-8.challenge-copy
                  h4 Start with where you are.
                  p
                    | The process of developing a roadmap means taking stock of your current state – your sites, tools, infrastructure, and processes, leveraging best practices and our experience to help define your vision for the future, and prioritizing the initiatives required to move forward.
                  .spacing40.clearfix
          #what_2.tab-pane.fade
            .white-bg.clearfix
              .row.clearfix.lower-content
                .col-md-4
                  .padding
                    p SOLUTION
                    h2.about-title what it covers
                .col-md-8.challenge-copy
                  h4 Turn Roadblocks into Building Blocks
                  p
                    | Your roadmap creates a clear path to the future vision for your SharePoint strategy. With solutions defined for each component, along with steps to achieve each goal, you will have the background to guide your organization in taking the right steps at the right time in the journey. And to become a SharePoint hero!
                  .spacing40.clearfix
      .spacing40.clearfix
      .container
        .spacing40.clearfix
        .team-container(data-modal='blogs')
          each ec, i in ecData
            if (i >= 3 && i < 6)
              .col-md-4.modal-target(data-toggle='modal', data-target='.generic-blog', data-title='#{ec.title}')
                img.article-link(src='#{ec.imageLocation}', alt='team')
                .clearfix.team-inner.white-bg.padding.article-link
                  h3.team-name  #{ec.displayTitle}
                  p.team-position By #{ec.creator} - 
                    span.date #{ec.pubDate}
        .row
          .col-md-12
            .spacing40.clearfix
            button.btn.btn-lg.pull-right(data-toggle='modal', data-target='#blog_subscription')
              | Subscribe to our Blog
              i.fa.fa-angle-right
    // START PORTFOLIO SECTION -
    section#portfolio.clearfix.content
      .container
        .title-content.clearfix
          .title-inner
            h3.port-title Our Clients, Our Heros
        .row.port-container(data-modal='portfolio')
          each ec, i in ecData
            if (i >= 6)
              .col-md-6.port-item
                .port-inner.white-bg.clearfix(data-toggle='modal', data-target='.portfolio-modal', data-title='#{ec.name}')
                  figure.box-40.hovers.bwWrapper
                    img(alt='Portfolio Image', src='#{ec.imageUrl}')
                  .padding.box-60
                    h3 #{ec.name}
                    p
                      | #{ec.copy}
                    i.cat-icon.fa.fa-html5
    // START GET-STARTED SECTION -
    section#get-started.clearfix.content
      .container
        .title-content.clearfix
          .title-inner
            h3.port-title Get Your Cape
        .container
          .row
            .col-sm-6.col-md-3.col-md-offset-3.cape-container
              .padding.align-center.white-bg.pricing-table
                .cape-title
                  h3 SharePoint 2013 Self Assessment
                i.price-icon.fa.fa-bug
                p Can SharePoint 2013 help you deliver heroic benefits to your enterprise?
                .spacing40
              .cape-link
                a.view-more(href='http://www.tahoepartners.com/pages/assessment.aspx', target='_blank')
                  | Go
                  i.fa.fa-angle-right
            .col-sm-6.col-md-3.cape-container
              .padding.align-center.white-bg.pricing-table
                .cape-title
                  h3 Get Our Report
                i.price-icon.fa.fa-wheelchair
                p Prepare to save the day – learn how organizations report using SharePoint.
                .spacing40
              .cape-link
                a.view-more(href='')
                  | See the Results
                  i.fa.fa-angle-right
        .spacing40.clearfix
        .white-bg
          #message-us
            img(src='images/contact/1.jpg', alt='contact')
            .white-bg.clearfix
              .row.clearfix
                .col-md-4
                  .padding(data-layout)
                    p We'd Love To Hear From You
                    h2.about-title Leave Message
                  ul.address-list.padding
                    li
                      i.fa.fa-phone
                      a(href='tel:+3124913300') 312.491.3300
                .col-md-8
                  .padding
                    #form-wrapper
                      #form-inner
                        #ErrResults
                        #MainResult
                        #MainContent
                          form#MyContactForm(name='MyContactForm', method='post')
                            p.radio
                              span Inquiry Type:
                              label
                                input#general(type='radio', value='general')
                                | General
                              label
                                input#careers(type='radio', value='careers')
                                | Careers
                            p.name
                              input#first_name(type='text', name='first-name', placeholder='First Name*', required='')
                              label#first_nameLb(for='first_name')
                                span.error *First Name Field Required
                            p.name
                              input#last_name(type='text', name='last-name', placeholder='Last Name*', required='')
                              label#last_nameLb(for='last_name')
                                span.error *Last Name Field Required
                            p
                              input#email(type='email', name='email', placeholder='Email*')
                              label#emailLb(for='email')
                                span.error.error1 *Email Field Required
                                span.error.error2 *Email Not Valid
                            p
                              input#phone(type='text', name='phone', placeholder='Your Phone ...')
                              label#phoneLb(for='phone')
                                span.error *Telephone Field Required
                            p.textarea
                              textarea#message(name='message', placeholder='Your Message ...', rows='4')
                              label#messageLb(for='message')
                                span.error *Message Field Required
                            .clearfix
                            a.contact-btn(href='#') Send Message
                  .spacing40.clearfix
    include templates/subscribe-modal
    include templates/portfolio-modal
    include templates/blog-modal

  script(src="js/libs/jquery.js")
  script(src="js/libs/bootstrap.min.js")
  script(src="js/libs/jquery.sticky.js")
  script(src="js/libs/jquery.scrollTo.js")
  script(src="js/libs/jquery.nav.js")
  script(src="js/libs/supersized.3.2.7.min.js")
  script(src="js/libs/supersized.shutter.js")
  script(src="js/libs/handlebars.js")
  script(src="js/modals.js")
  script(src="js/script.js")
  script(src="js/contact.js")
  script.
    $(window).load(function() {
      $('#status').fadeOut();
      $('#preloader').delay(350).fadeOut("slow");
    });